@font-face {
  src: url("../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-family: 'Work Sans';
}

* {
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  padding-left: 100px;
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 0;
  }
}

img {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.db {
  background-color: #33689C;
}

.dg {
  background-color: #dddede;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.4em 7em 1.2em 0.2em;
  position: relative;
  margin-bottom: 2em;
}

main .navbar {
  padding-left: 3em;
}

main .navbar h3 {
  position: fixed;
  left: 10px;
  top: 2em;
  font-size: 1em;
  color: #5C5E60;
  z-index: 11;
  cursor: pointer;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}

@media screen and (max-width: 768px) {
  main .navbar h3 {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    position: static;
  }
}

@media screen and (max-width: 768px) {
  main .navbar {
    padding-left: 15%;
  }
}

main img {
  width: 10.5%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  main img {
    position: static;
    width: 25%;
  }
}

main .panel h3 {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  main .panel {
    display: none;
  }
}

.dropdown {
  display: block;
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5em 0;
}

.dropdown ol li {
  margin: 1em;
}

@media screen and (max-width: 768px) {
  .dropdown {
    top: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}

.banner {
  background-color: #6698CF;
  color: #FFFFFF;
  font-size: 3.5em;
  font-weight: 600;
  padding: 1em 0 1em 0.7em;
}

.banner span {
  display: block;
}

.banner .small {
  font-size: 0.3em;
}

.banner .large {
  font-size: 0.6em;
  margin-top: 4px;
}

.banner button {
  outline: none;
  border: 1px solid #6698CF;
  color: #6698CF;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-size: 0.3em;
  padding: 0.3em 0.6em;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.banner button:hover {
  background-color: #6698CF;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .banner button {
    display: block;
    margin-left: 5%;
    margin-top: 2em;
    width: 96%;
    padding: 1em 2%;
    text-align: center;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .bannerImg {
    display: block;
    width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    max-width: 98%;
    padding-left: 2%;
    padding-right: 0;
    width: 100%;
    text-align: left;
  }
}

.suppliers {
  margin-top: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 85vh;
}

.suppliers_info {
  font-size: x-large;
  line-height: 1.6em;
  padding: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.suppliers_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 85vh;
  background-size: cover;
  background-image: url("../assets/images/suppliers-image.jpg");
}

.container {
  margin: 5em 0;
  width: 90%;
}

.container .heading {
  font-size: 2em;
}

.container .content {
  font-size: 1.5em;
  line-height: 1.5em;
}

.container .content ul {
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
}

.container .content ul li a {
  color: #5C5E60;
  text-decoration: none;
}

.links .db,
.links .dg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 0 1em 0.5em;
}

.links .db {
  color: #FFFFFF;
}

.contact {
  margin-top: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 85vh;
}

.contact_info {
  padding: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_info .heading {
  margin: 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 2em;
}

.contact_info label {
  color: #5C5E60;
  margin: 2em 0 0.5em 0;
  display: inline-block;
}

.contact_info input,
.contact_info textarea {
  display: block;
  width: 94%;
  padding: 1em 3%;
  font-size: 0.8em;
  font-family: "Work Sans", sans-serif;
  color: #5C5E60;
  outline: none;
  border-radius: 4px;
  border: 1px solid #5C5E60;
  height: 30px;
}

.contact_info input[type="submit"] {
  margin-top: 2em;
  background-color: #8f9193;
  border: none;
  color: #FFFFFF;
  width: 100%;
  height: 45px;
}

.contact_info textarea {
  height: 80px;
}

.contact_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 85vh;
  background-size: cover;
  background-image: url("../assets/images/contact.png");
}

@media screen and (max-width: 768px) {
  .contact_img {
    height: 50em;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150vh;
  }
}

.address .container {
  margin-top: 0;
}

.address .container .card span {
  display: block;
}

.address .container .card span.title {
  font-weight: bolder;
  margin: 2em 0 0.5em 0;
}

@media screen and (max-width: 768px) {
  .address {
    width: 90%;
    margin: auto;
  }
}

.footer {
  font-family: "Work Sans", sans-serif;
  background-color: #6698CF;
  color: #FFFFFF;
  padding: 40px 60px;
  margin-left: -100px;
}

.footer h3 {
  font-weight: 400;
  letter-spacing: 0.2em;
}

.footer ul {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}

.footer ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  margin: 1em 0;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  cursor: pointer;
}

.footer ul li:hover {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.footer ul li:hover .arr {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  padding-right: 15px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 5%;
    width: 95%;
    padding-right: 0;
  }
}

footer {
  background-color: #33689C;
  color: #FFFFFF;
  margin-left: -100px;
  padding: 20px 60px;
  font-family: "Work Sans", sans-serif;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .flex .flex {
  font-size: smaller;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-arround;
      -ms-flex-pack: space-arround;
          justify-content: space-arround;
}

footer .flex .icons {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  text-align: right;
}

footer .flex .icons span {
  border: 1px solid grey;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

footer .flex .icons span:nth-of-type(1) {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    padding: 1em 0;
  }
}

.innovation {
  background-color: #f7f7f7;
  padding: 2em 2em 2em 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
  line-height: 1.5em;
  margin-left: -100px;
}

.innovation .card {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .innovation .card {
    width: 90%;
    margin: auto;
  }
}

.innovations {
  padding: 3em;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85vh;
}

.innovations_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 768px) {
  .innovations_info h3,
  .innovations_info p,
  .innovations_info .card {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .innovations_info h3 {
    margin: 1em 5%;
  }
}

.innovations_info .card {
  width: 90%;
}

.innovations_info .card ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (max-width: 768px) {
  .innovations_info .card ul {
    width: 90%;
    margin: auto;
  }
}

.innovations_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 85vh;
  background-size: cover;
  background-image: url("../assets/images/work-with-us.png");
  position: relative;
}

.innovations_img .label {
  background-color: #33689C;
  width: 180px;
  height: 30px;
  position: absolute;
  top: 5%;
  left: -7%;
}

.innovations button {
  outline: none;
  border: 1px solid #6698CF;
  color: #6698CF;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.innovations button:hover {
  background-color: #6698CF;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .innovations button {
    display: block;
    margin-left: 5%;
    margin-top: 2em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  footer,
  .footer {
    margin-left: 0;
  }
}

.story h1 {
  font-size: 1.5em;
  width: 90%;
}

.story p {
  width: 90%;
  line-height: 1.4em;
  font-size: 1.2em;
}

.storyCard .card {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 1em 0;
  width: 92%;
  padding-right: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 10em;
}

.storyCard .card .label {
  position: absolute;
  background-color: #33689C;
  color: #FFFFFF;
  padding: 0.5em 2em;
  top: 10%;
  left: -2%;
}

@media screen and (max-width: 768px) {
  .storyCard .card .label {
    top: 5%;
  }
}

.storyCard .card img {
  width: 25%;
  height: 40%;
  display: block;
  margin: auto;
  margin-top: -9em;
  margin-bottom: -10em;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .storyCard .card img {
    width: 100%;
    height: 100%;
    margin-top: -9em;
    margin-bottom: -10em;
    z-index: -1;
  }
}

@media screen and (max-width: 700px) {
  .storyCard .card img {
    margin-top: -6em;
    margin-bottom: -7em;
  }
}

@media screen and (max-width: 475px) {
  .storyCard .card img {
    margin-top: -2em;
    margin-bottom: -3em;
  }
}

.storyCard .card div {
  width: 65%;
}

.storyCard .card div h1 {
  font-size: 1.2em;
}

.storyCard .card div p {
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  .storyCard .card div {
    width: 80%;
  }
  .storyCard .card div p {
    font-size: 1em;
    font-weight: 200;
  }
}

@media screen and (max-width: 768px) {
  .storyCard .card {
    width: 80%;
    margin: 2em auto;
  }
}

@media screen and (max-width: 768px) {
  .story {
    width: 85%;
    padding: 0;
    margin: 2em auto;
  }
}

.ad {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ad div {
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5em;
}

.ad .flex1 {
  background-image: url("../assets/images/2.png");
  width: 60%;
}

.ad .flex2 {
  background-image: url("../assets/images/3.png");
  width: 39%;
  margin-left: 0.5%;
}

.ad .flex3 {
  background-image: url("../assets/images/4.png");
  width: 39%;
  margin-right: 0.5%;
}

.ad .flex4 {
  background-image: url("../assets/images/5.png");
  width: 60%;
}

@media screen and (max-width: 768px) {
  .ad {
    display: block;
    height: 200vh;
  }
  .ad .flex1,
  .ad .flex2,
  .ad .flex3,
  .ad .flex4 {
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5em;
    width: 100%;
    height: 25%;
    margin-bottom: 0;
  }
  .ad .flex3 {
    margin-right: 0;
  }
  .ad .flex2 {
    margin-left: 0;
  }
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.people .single {
  width: 30%;
  margin: auto;
  text-align: center;
  margin-bottom: 3em;
}

.people .single img {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 100%;
}

.people .single img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.people .single h1 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .people .single {
    width: 70%;
    margin-bottom: 1em;
  }
}

button {
  outline: none;
  border: 1px solid #6698CF;
  color: #6698CF;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

button:hover {
  background-color: #6698CF;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .supp {
    width: 95%;
    margin: auto;
  }
}
